*{
    box-sizing: border-box;
    background-color: #1b0b75;
    color: #f8f7ff;
    border-color: #B8B8FF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-inline-div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

form {
    display: flex;
    flex-direction: row;
}


.seller-name-container {
    float: right;
}

section.form-main {
    display: block;
}

label {
    display: block;
    margin: 0px 5px;
}

textarea {
    resize: none;
}

.form-main {
    display: inline;
}

.delete-transaction-li-btn {
    right: 20px;
    position: relative;
}

.transaction-list-container {
    display: flex;
    flex-direction: row;
}

li {
    display: block;
    width: 100%;
    flex-grow: 3;
}

input {
    border-style: solid ;
}

button {
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
}

.transaction-list-el {
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    max-width: 60%;
    justify-content: space-around;
    align-items: center;
}

.btn-container {
    margin-top: 30px;
    display: block;
    width: 150px;
}

.btn-container > * {
    display: block;
    margin: 20px auto;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    margin: auto;
}