

.form-inline-div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.seller-name-container {
    float: right;
}

section.form-main {
    display: block;
}

label, span {
    display: block;
}

textarea {
    resize: none;
}

.transaction-list-el {
    display: inline-flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    margin: auto;
}